<div *ngIf="questionsObs | async; else loading">

    <h2 class="quiz-question">{{question.id}}- {{question.id_question}}</h2>
    <p class="main-question"> {{question.main_question}}</p>

    <ul data-quiz-question="1">
        <li class="quiz-answer">
            <input type="radio" name="questao" id="altA" value="A">
            <label for="altA">{{question.altA}}></label>
        </li>
        <li class="quiz-answer">
            <input type="radio" name="questao" id="altA" value="B">
            <label for="altB">{{question.altB}}></label>
        </li>
        <li class="quiz-answer">
            <input type="radio" name="questao" id="altA" value="C">
            <label for="altC">{{question.altC}}></label>
        </li>
        <li class="quiz-answer">
            <input type="radio" name="questao" id="altA" value="D">
            <label for="altD">{{question.altD}}></label>
        </li>

    </ul>
    <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
        <button (click)="prev()" id="previous" class="btn btn-info d-flex align-items-right btn-danger" type="button">
            Previous</button>
                <button (click)="next()" id="next" class="btn btn-info border-success align-items-center btn-secondary" type="button">
                    Next</button>
                    <!-- <button (click)="answer()" id="next" class="btn btn-info border-success align-items-center btn-secondary" type="button">
                        Responder</button> -->
            
    </div>
</div>
<ng-template #loading>
    <div>
        <p>Carregando questão ...</p>
    </div>
</ng-template>
