.titulo{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    width: 100%;
    height: auto;
}

.imgcaduceu{
    margin-top: 0,5%;
}

.imgcfc{

    /* margin-top: -05%;   */
    width: 70px;
    height: 80px;
}
.navbarquiz{
    width: 100%;
    margin
    color: rgb(9, 64, 71);
    background-color: rgb(188, 228, 228);
    padding: 05px 0px 10px;
}
footer{
    font-size: 10px;
    color: rgb(9, 64, 71);
    background-color: rgb(188, 228, 228);
    text-align: center;
    width: 100%;
    height: auto;
    padding: 05px;
    bottom: 0;
    left: 0;
  
}
/* fazer um mediquerie pro nav, uma img ao lado da outra */