<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbarquiz navbar navbar-light">
  <img class="imgcaduceu float-left" src="../assets/caduceu.png" alt="imagem caduceu">
    
<div class="clearfix">
    
    <div class="titulo">
      <p>
        {{ title }}
        <small class="text-muted text-center">Treine para o CRC</small>
      </p>
    </div>
   
  </div>

<img class="imgcfc float-right" alt="CFC Logo" src="../assets/logo_cfc.gif" alt="imagem logo cfc">
  </nav>

<app-questions></app-questions>


<footer>Desenvolvido por PECEGE - Estela de Oliveira</footer>